[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=telegrambot
Group=telegrambot
Type=simple
WorkingDirectory=/opt/tgbot
ExecStart=/opt/telegrambot
Restart=always

[Install]
WantedBy=multi-user.target
